<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=100%, initial-scale=1">
    <title>与小赵聊天中</title>
    <link href="css/main.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <link rel="preload" href="img/aida.jpg" as="image">
    <link rel="preload" href="img/baobao.jpg" as="image">
    <link rel="preload" href="img/bg.png" as="image">
    <link rel="preload" href="img/changjiang.jpg" as="image">
    <link rel="preload" href="img/dapigu.jpg" as="image">
    <link rel="preload" href="img/fanhui.png" as="image">
    <link rel="preload" href="img/guoba.jpg" as="image">
    <link rel="preload" href="img/hanhan.jpg" as="image">
    <link rel="preload" href="img/heihei.jpg" as="image">
    <link rel="preload" href="img/huahai.jpg" as="image">
    <link rel="preload" href="img/huaxiang.jpg" as="image">
    <link rel="preload" href="img/jianmian.jpg" as="image">
    <link rel="preload" href="img/jiefang.jpg" as="image">
    <link rel="preload" href="img/juanjuan.jpg" as="image">
    <link rel="preload" href="img/kuanian.jpg" as="image">
    <link rel="preload" href="img/lundu.jpg" as="image">
    <link rel="preload" href="img/motianlun.jpg" as="image">
    <link rel="preload" href="img/mulan.jpg" as="image">
    <link rel="preload" href="img/qinqin.jpg" as="image">
    <link rel="preload" href="img/shengri.png" as="image">
    <link rel="preload" href="img/songhua.png" as="image">
    <link rel="preload" href="img/wenquan.jpg" as="image">
    <link rel="preload" href="img/wenwo.jpg" as="image">
    <link rel="preload" href="img/wocuola.png" as="image">
    <link rel="preload" href="img/xinjian.png" as="image">
    <link rel="preload" href="img/yaobaobao.jpg" as="image">
    <link rel="preload" href="img/zhongshan.jpg" as="image">
    <link rel="preload" href="img/ziyun.jpg" as="image">
</head>

<body >  
    <div id="letter">
        <transition name="fade">
            <div v-show="showimg"
                style="position: absolute;width: 100%;height: 100%;top: 100px;left: 50%;margin-left: -192px;z-index: 9;">
                <span
                    style="position: absolute;left: 340px;top: 20px;font-size: 25px;color: #06000b;font-weight: 900;"><a
                        style="text-decoration: none;
                    color: black;" href="#" v-on:click="Disvisible">X</a></span>
                <img src="img/xinjian.png" style="border-radius:30px;">
                <img src="img/bg.png" style="position: fixed;left: 0px;top: 0px;height: 100%;width: 100%;z-index: -1; background-position-y: 0;">
            </div>
        </transition>
    </div>
    <div id="mobile" :class="{ 'has-prompt': hasPrompt }">
        <div id="mobile-head">
            <div id="mobile-head-title">居居❤️❤️</div>
        </div>
        <div id="mobile-body">
            <div id="mobile-body-bg"></div>
            <div id="mobile-body-content">
                <div id="mock-msg-row" class="msg-row">
                    <div id="mock-msg" class="msg" v-html="latestMsgContent"></div>
                </div>
                <div class="msg-row" v-for="(msg, index) in messages" :key="index"
                    :class="msg.author === 'author' ? 'msg-author' : 'msg-me'">
                    <div class="msg" :class="'msg-bounce-in-' + (msg.author === 'author' ? 'left': 'right')"
                        :style="msg.width && msg.height && {width: msg.width - 26 + 'px', height: msg.height - 18 + 'px'}"
                        v-html="msg.content"></div>
                </div>
            </div>
        </div>
        <div id="mobile-foot">
            <div id="prompt">
                <div id="prompt-head">
                    <div class="say-something">我想说……</div>
                    <a href="javascript:;" class="close-btn" v-on:click="togglePrompt(false)"></a>
                </div>
                <div id="prompt-body">
                    <ul class="responses" v-if="lastDialog">
                        <li v-for="res in lastDialog.responses">
                            <a href="javascript:;" v-on:click="respond(res)">{{ res.content }}</a>
                        </li>
                    </ul>
                    <div class="next-topic" v-if="!lastDialog || !lastDialog.responses">
                        <ul class="topics">
                            <li v-for="topic in nextTopics">
                                <a href="javascript:;" v-on:click="ask(topic)">{{ topic.brief }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="input-hint" class="say-something" v-on:click="togglePrompt(true)"
                :class="{'clickable': !isTyping }">
                <span v-if="!isTyping">我想说……</span>
                <span v-if="isTyping">小赵正在输入中</span>
            </div>
        </div>
        <div id="prompt-bg" v-on:click="togglePrompt(false)"></div>
    </div>



    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
    <script src="js/index-min.js"></script>

</body>

</html>
